.main {
    display: flex;
    /*justify-content: space-between;*/
    /*margin: 10px 0;*/
}

.addTaskBtn {
    font-family: Bradley Hand, cursive;
    width: 30px;
    height: 30px;
    align-self: center;
    /*background: #9C27B0;*/
    color: white;
}

.inputTodoDefault {
}