.title {
    /*padding: 5px;*/
    /*margin: 0 5px;*/
    display: flex;
    align-items: center;
    word-break: break-all;
}

.editMode {
    /*text-align: center;*/
    margin: 5px;
    font-family: Bradley Hand, cursive;
}
