.tasks {
    /*width: 100%;*/
    /*background: #000;*/
}

.tasksList {
    display: flex;
    margin-bottom: 10px;
}

.deleteTaskBtn {
    width: 20px;
    height: 20px;
    margin-top: 15px;
}

.errorMessage {
    padding: 10px;
    color: #D32F2F;
    opacity: 0.7;
}

.taskIsDone {
    color: #9C27B0;
    opacity: 0.4;
}

.taskCheck {
    right: 15px
}