.tasksList {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    max-width: 258px;
}

.wrapper {
    display: flex;
}

.deleteTaskBtn {
    width: 20px;
    height: 20px;
    justify-self: flex-end;
    /*margin-left: 5px;*/
}

.errorMessage {
    padding: 10px;
    color: #D32F2F;
    opacity: 0.7;
}

.taskIsDone {
    color: #9C27B0;
    opacity: 0.4;
}

.taskCheck {
    right: 15px
}