.todo {
    display: flex;
    justify-content: space-evenly;
    /*background-color: #28A9A2;*/
}

.todoItem {
    padding: 10px;
    text-align: center;
    max-width: 291px;
}

.titleBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todoTitle {
    /*text-decoration: underline;*/
}

.deleteTodoBtn {
    /*margin-left: 10px;*/
    width: 15px;
    height: 15px;
    color: #EC5C5C;
}

.filterBtns {
    display: flex;
    justify-content: space-between;
}

/*.aif {*/
/*    margin: 5px;*/
/*}*/

.tasks {
    width: 95%;
    margin: 5px auto;
}