.todo {
    display: flex;
    justify-content: space-evenly;
    /*background-color: #28A9A2;*/
}

.todoItem {
    margin: 15px;
    padding: 5px;
    text-align: center;
    /*background-color: #3BC1B6;*/
    max-width: 100%;
    max-height: max-content;
    /*float: left;*/
    /*text-align: center;*/
}

.titleBtn {
    align-items: center;
    display: flex;
    justify-content: center;
}

.todoTitle {
    text-decoration: underline;
}

.deleteTodoBtn {
    margin-left: 10px;
}

.filterBtns {
    display: flex;
    justify-content: space-evenly;
}

.defaultFilterBtn {
}

.allBtn {
}

.activeBtn {
}

.completedBtn {
}

/*.aif {*/
/*    margin: 5px;*/
/*}*/

.tasks {
    margin: 5px;
}