.tasksList {
    text-align: left;
    border: 1px solid white;
    border-radius: 6px;
    background-color: lightgray;
    padding: 3px;
    margin: 5px;
}

.taskTitle {
    padding: 5px;
}

.taskCheck {
    float: left;
}

.deleteTaskBtn {
    float: right;
    border: 1px solid white;
    border-radius: 6px;
    background-color: indianred;
    color: white;
    width: 20px;
    height: 20px;
}

.errorMessage {
    padding: 3px;
    color: white;
    background-color: indianred;
    border: 1px solid white;
    border-radius: 6px;
    opacity: 0.5;
}

.taskIsDone {
    border: 1px solid white;
    border-radius: 6px;
    text-decoration: line-through;
    color: seagreen;
    opacity: 0.5;
    text-align: left;
    background-color: lightgray;
    padding: 3px;
    margin: 5px;
}