#root {
}

.App {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  /*background: #1F1F1F;*/
}

.App > div {
  margin: 10px;
}

.aif {
  margin-top: 60px;
  margin-bottom: 10px;
}